
#lista1 li {  /* llamo al elemento señalado*/
  /* quita estilos ya predeterminados*/
   margin: 20px; /* distancia elementos de la lista*/
    display:inline; /* de vertical a orizontal*/

   
}

#lista1 {
    font-family:Arial;
    font-weight:lighter;
   
    font: size 14px; /* tamaño texto */
    line-height: 30px; /* distancia de los elementos verticales */
   
    text-align:center; /* centrar lista */
    margin: center;
    
}
a {
    text-align:center;
    
    color:white;
    text-decoration:none;
    border-radius: 40px;
    background-color:rgb(8, 8, 104);
}
nav {
list-style: none;
height: 60px;
line-height: 60px;
margin-left: 50px;
margin-right: 50px;
}

body {
    background: url(cieloestrellado.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{

    background-color: rgba(44, 44, 50,0.8); 
    border-radius: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    


}
#titulo1{
text-align: center;
    color: azure;

}
main{
    text-align:left 30%;
    color:white;
    text-decoration:none;
    font-family:Arial;
 
}
article{
    margin-top: 2%;
 background-color: rgb(61, 61, 61);
 border-radius: 40px;
 opacity: 0.8;
 image-orientation: from-image;
 

 }
 p{
margin-left: 5%;
}
h2
{
text-align: center;
}
img{
    display:block;
    margin:auto;
    line-height: 10px;
    border-radius: 20%;
}
ul
{
    background-color: rgb(199, 201, 203,0.4);
    border-radius: 40px;
    
}
footer {
    background-color: black;
    
    position:fixed;
    left:0px;
    bottom:0px;
    height: 35px;
    width:100%;
    color: white;
    opacity: 0.6;
    
  }

  .alinear-izquierda{
    float: right;
    }